  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">人生を変えた十冊</h1>
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
      <div class="row center">
        <%= link_to "Get Started", signup_path, class: "btn-large waves-effect waves-light orange", id: "download-button" %>
      </div>
      <br><br>

    </div>
  </div>

  <!-- about -->
  <div class="container" id="about">
    <div class="section">
      <h4>10ブックスとは</h4>
      <p>10ブックスでは、様々な人の人生を変えた十冊を見ることができます</p>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">library_books</i></h2>
            <h5 class="center">本棚</h5>

            <p class="light">自分の人生を変えた十冊の本を登録することができます</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">record_voice_over</i></h2>
            <h5 class="center">人生</h5>

            <p class="light">様々な人の人生を変えた十冊から学びましょう</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">favorite</i></h2>
            <h5 class="center">お気に入り</h5>

            <p class="light">気に入った本棚はお気に入りに登録していつでも確認できます</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <!-- ランキング -->
  <div class="container" id="rank">
    <h4>本のランキング</h4>
    <div class="section">
      <!--   Card Section   -->
      <div class="row">
        <% @rank_books.each_with_index do |book, i| %>
          <div class="col s12 m2">
            <div class="card">
              <div class="card-image">
                <% unless book.nil? %>
                  <a href="<%= book[2] %>"><img src="<%= book[1] %>" alt="bookimage" width="128px" height="182px"></a>
                  <div class="card-content right" id="count">
                    <span><i class="material-icons" id="icon-count">person</i><i id="text1"><%= book[3] %></i></span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <br><br>
  </div>

  <!-- おすすめの人 -->
  <div class="container" id="people">
    <h4>本棚のランキング</h4>
    <div class="section">
        <div class="row">
          <% @rank_shelves.each do |shelf| %>
            <div class="col s12 m2">
                  <% unless shelf.nil? %>
                    <% shelf.picture? ? image_url = shelf.picture :  image_url = '/images/default.png' %>
                    <a href="<%= "/users/#{shelf.id}" %>"><img src="<%= image_url %>" alt="bookimage" width="128px" height="182px" class="circle"></a>
                    <div class="">
                      <a href="<%= "/users/#{shelf.id}" %>"><p style="font-size:0.1em;"><%= shelf.name.truncate(12) %><%= "(#{shelf.job.truncate(12)})" if shelf.job? %></p></a>
                    </div>
                    <div class="card-content right" id="count">
                      <span><i class="material-icons" id="icon-count">person</i><i id="text1"><%= shelf.likeds.count %></i></span>
                    </div>
                  <% end %>
            </div>
          <% end %>
        </div>
      <br><br>
    </div>
  </div>

  <!-- フッター -->
  <footer class="page-footer green darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
