<% if @users.any? %>
  <ul class="collection" id="index-collection">

    <% @users.each do |user| %>
      <li class="collection-item avatar">
        <% user.picture? ? image_url = user.picture.url :  image_url = '/assets/default.png' %>
        <img src="<%= image_url %>" alt="" class="circle center-align">
        <span class="title"><%= link_to user.name, user, id: "shelf_link" %></span>
        <p><%= user.job %><br>
          登録者数: <%= user.likeds.count %>
        </p>
      </li>
    <% end %>
  </ul>
  <%= paginate @users %>
<% end %>
