<div class="row">
  <div class="col s12 m12 offset-m3">
    <div class="card-panel z-depth-5" id="body">
      <%= form_tag("/users/#{@user.id}", id: "formValidate") do %>
        <h4 class="center">プロフィールの設定</h4>
        <div class="row">
          <form class="col s12">

            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="first_name" type="text" class="validate" name="name" id="name" value="<%= @user.name %>">
                <label for="first_name" class="active">ユーザー名</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mail</i>
                <input id="email" type="email" class="validate" name="email" id="email" value="<%= @user.email %>">
                <label for="email" class="active">メールアドレス</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input id="password" type="password" class="validate" data-length="16" name="password">
                <label for="password">パスワード</label>

              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">confirmation_number</i>
                <input id="passwordConfirm" type="password" data-length="16" name="password_confirmation">
                <label id="lblPasswordConfirm" for="passwordConfirm" data-error="Password not match" data-success="Password Match">パスワード(確認)</label>

              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">work</i>
                <input id="job" type="text" class="validate" name="job" value="<%= @user.job %>">
                <label for="job" class="active">職業</label>
              </div>
            </div>

            <div class="row">
              <ul class="collection" id="edit-collection">
              <li class="collection-item avatar">
                <% @user.picture? ? image_url = @user.picture.url :  image_url = '/images/default.png' %>
                <img src="<%= image_url %>" alt="" class="circle">
                プロフィール画像 : <%= link_to("変更はこちらから", "/users/#{@user.id}/image") %>
              </li>
              </ul>
            </div>

            <button class="btn waves-effect waves-light center" type="submit" name="action">更新
               <i class="fa fa-sign-in right"></i>
             </button>
          </form>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#formValidate").validate({
    rules: {
      name: {
        required: true,
        minlength: 3,
        maxlength: 16
      },
      email: {
        required: true,
        email:true,
        maxlength: 255
      },
      password: {
        // required: true,
        minlength: 6,
        maxlength: 16
      },
      password_confirmation: {
        // required: true,
        minlength: 6,
        maxlength: 16,
        equalTo: "#password"
      }
    },
    messages: {
           name:{
               required: "ユーザー名を入力してください",
               minlength: "3~16文字で指定してください",
               maxlength: "3~16文字で指定してください"
           },
           email:{
             required: "メールアドレスを入力してください",
             email: "不正なフォーマットです",
             maxlength: "255文字以内で指定してください"
           },
           password:{
             required: "パスワードを入力してください",
             minlength: "6~16文字で指定してください",
             maxlength: "6~16文字で指定してください"
           },
           password_confirmation:{
             required: "パスワードを入力してください",
             minlength: "6~16文字で指定してください",
             maxlength: "6~16文字で指定してください",
             equalTo: "パスワードが一致しません"
           },
       },
       errorElement : 'div',
       errorPlacement: function(error, element) {
         error.css('color', 'red');
         var placement = $(element).data('error');
         if (placement) {
           $(placement).append(error)
         } else {
           error.insertAfter(element);
         }
       }

  });
</script>
