<body id="show-shelf">

  <div class="show-shelf">

    <div class="container ">
      <br>

      <div class="center">

      <ul class="collection center-align" id="profile">
        <li class="collection-item avatar center-align" id="profile-item">
          <% @user.picture? ? image_url = @user.picture.url :  image_url = '/assets/default.png' %>
          <img src="<%= image_url %>" alt="" class="circle center-align" id="profile-image">
          <p><%= @user.name %>さん<%= "(#{@user.job})" if @user.job? %>の10冊</p>
        </li>
      <ul>
      </div>

      <div class="row card" id="shelf">
        <% @books.each do |book| %>
          <% unless book.nil? %>
          <div class="col">
            <% book.image_link.nil? ? image_link = 'https://books.google.com/books/content?id=p1-htgAACAAJ&printsec=frontcover&img=1&zoom=6&source=gbs_api' : image_link = book.image_link %>
            <a href="<%= book.info_link %>"><img src="<%= image_link %>" alt="bookimage" width="128px" height="182px" class="materialbox card"></a><br>
            <% if @user == current_user%>
              <%= link_to "登録解除", book_path(book), method: :delete, data: { confirm: "You sure?" } %>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>

      <div class="comments card-panel" id="comment-zone">
        <p>コメント(本棚の説明)</p>
        <% if current_user?(@user) %>
          <div class="input-field col s12">
            <%= form_tag("/users/#{@user.id}") do %>
              <textarea id="textarea1" class="materialize-textarea" name="comments" placeholder="コメントを入力"><%= @user.comments %></textarea>
              <button class="btn waves-effect waves-light btn-small" type="submit" name="action">コメントを保存</button>
            <% end %>
          </div>
        <% else %>
          <%= simple_format(@user.comments) %>
        <% end %>
      </div>
    </div>

    <%= render 'like_form' if logged_in? %>

  <% if current_user %>
  <% if current_user.admin? && !current_user?(@user) %>
  <%= link_to "delete", @user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
  <% end %>
</body>
