<body id="show-shelf">

  <div class="show-shelf">

    <div class="container ">
      <br>

      <p><%= @user.name %>さんの10冊</p>
      <div class="row card" id="shelf">
        <% @books.each do |book| %>
          <% unless book.nil? %>
          <div class="col s12 m5 l2">
            <% book.image_link.nil? ? image_link = 'https://books.google.com/books/content?id=p1-htgAACAAJ&printsec=frontcover&img=1&zoom=6&source=gbs_api' : image_link = book.image_link %>
            <img src="<%= image_link %>" alt="bookimage" width="128px" height="182px" class="materialbox card">
            <% if @user == current_user%>
              <%= link_to "登録解除", book_path(book), method: :delete, data: { confirm: "You sure?" } %>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>

      <div class="comments card-panel">
        <p>コメント(本棚の説明)</p>
        <% if current_user == @user %>
          <div class="input-field col s12">
            <%= form_tag("/users/#{@user.id}") do %>
                <textarea id="textarea1" class="materialize-textarea" name="comments" placeholder="コメントを入力"><%= @user.comments %></textarea>
              <button class="btn waves-effect waves-light btn-small" type="submit" name="action">コメントを保存</button>
            <% end %>
          </div>
        <% else %>
          <p><%= @user.comments %></p>
        <% end %>
      </div>
    </div>


  <% if current_user %>
  <% if current_user.admin? && !current_user?(@user) %>
  <%= link_to "delete", @user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
  <% end %>
</body>
