<!DOCTYPE html>
<html>
  <head>
    <title>10books - 人生を変えた十冊</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%= link_to "10ブックス", root_path, id: "brand-logo"%>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if logged_in? %>
              <!-- Seach box -->
              <li>
                <span class="col s12" id="search-form">
                  <span class="input-field col s12">
                    <input type="textarea" id="search-field" placeholder="本のタイトル、著者名" name="keyword">
                    <a href="#" id="search-button" class="waves-effect waves-light btn-small">検索</a>
                  </span>
                </span>
              </li>

              <a href='/users' class="center" id="index_link"><i class="material-icons prefix">apps</i></a>

              <!-- Dropdown Trigger -->
              <a class='dropdown-trigger' href='#' data-target='dropdown1'><i class="large material-icons prefix" id="account_box">account_box</i></a>
              <ul id='dropdown1' class='dropdown-content'>
                <li><%= link_to "ホーム", current_user %></li>
                <li class="divider" tabindex="-1"></li>
                <li><%= link_to "設定", edit_user_path(current_user) %></li>
                <li class="divider" tabindex="-1"></li>
                <li><%= link_to "お気に入り", likes_user_path(current_user) %></li>
                <li class="divider" tabindex="-1"></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
              </ul>
            <% else %>
              <li><a href="/#about">about</a></li>
              <li><a href="/signup">signup</a></li>
              <li><a href="/login">login</a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <!-- フラッシュメッセージ -->
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          M.toast({html: '<%= value %>'})
        <% end %>
      </script>
    <% end %>


    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });

  $(function() {
    // テキストフォームを監視して入力があるたびに実行
    $('#search-field').change(function() {
        // テキストを取得
        var param = $(this).val();
        // リンクを書き換え
        $('#search-button').attr('href', '/books/' + param);
    });
  });
</script>
